<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  {% extends 'base.html' %}
  {% block title %}Password Change{% endblock %}

  {% block content %}
  <h1>Password change</h1>
  <p>Please enter your old password, for security sake, and then enter yor ne\w password bro</p>

  <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <input class="btn btn-succes" type="submit" value="Change my password">
  </form>

  {% endblock %}
</body>
</html>